.MenuList__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.MenuList__title {
    color: #d0c7c7;
    background-color: #4b4848;
    width: 100vw;
    text-align: center;
}