.MenuItem__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.MenuItem__description {
    width: 50%;
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
}

.MenuItem__name{
    margin: 0;
    color: #a0b2b2;
}

.MenuItem__structure{
    font-size: 14px;
}

.MenuItem__extra-info{
    font-size: 10px;
    margin-top: 20px;
}

.MenuItem__img {
    width: 50%;
}

.MenuItem__img_left {
    order: 1;
}

.MenuItem__img_right {
    order: 3;
}